.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  gap: 30px;
  overflow-y: auto;
  max-height: 100vh;
}

.charts-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.charts-container {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

.chart-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  width: 300px; /* Ajusta el ancho según prefieras */
  min-height: auto; /* Elimina la altura mínima */
  box-sizing: border-box;
}

.chart-category h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.chart-data-summary {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.chart-item {
  width: 100%;
  margin-bottom: 30px;
  height: 250px;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 200px;
}
