.evaluation-container {
  width: 50%; /* Ajusta según sea necesario */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.answer-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.answer-button.selected {
  background-color: #d3d3d3; /* Color de fondo más oscuro para indicar la selección */
  color: #fff; /* Color del texto si es necesario */
}
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-buttons button {
  padding: 10px 20px;
  cursor: pointer;
}
