.evaluation-container {
  width: 50% !important;
  background-color: rgba(47, 47, 47, 0.9) !important; /* Fondo plomito oscuro con transparencia */
  padding: 30px !important; 
  border-radius: 10px !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) !important;
  z-index: 1001 !important;
  color: white !important;
}


.question-container p {
  font-size: 18px !important; 
  margin-bottom: 20px !important; 
  line-height: 1.5 !important; 
  color: white !important;
}

.question-container p {
  font-size: 18px; /* Ajustamos el tamaño de la letra para mejor legibilidad */
  margin-bottom: 20px; /* Añadimos más margen debajo de la pregunta */
  line-height: 1.5; /* Mejora el espaciado entre líneas */
  color: white; /* Asegura que las letras sean blancas */
}

.answer-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.answer-button {
  margin: 10px !important;
  padding: 12px 25px !important; 
  cursor: pointer !important;
  background-color: #4CAF50 !important; 
  border: none !important; 
  color: white !important; 
  border-radius: 5px !important;
  transition: background-color 0.3s ease !important; 
  font-size: 16px !important;
}

.answer-button:hover {
  background-color: darkgreen; /* Fondo más oscuro al pasar el mouse */
}

.answer-button.selected {
  background-color: #d3d3d3 !important; 
  color: #fff !important; 
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-buttons button {
  padding: 12px 25px !important;
  cursor: pointer !important;
  background-color: #4CAF50 !important; 
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease !important; 
  font-size: 16px !important;
}

.navigation-buttons button:hover {
  background-color: darkgreen !important; 
}
