body {
    background:url("/public/images/fondoviu.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-form {
    background: rgba(0, 0, 0, 0.6); /* Más oscuro para mejor contraste */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 300px;
    color: #f1f1f1; /* Color más claro para el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Asegura que todo esté centrado */
}


.login-form .avatar {
    margin-bottom: 20px;
    width: 120px; /* Ajusta el tamaño según lo necesario */
    height: auto; /* Mantén la proporción de la imagen */
    display: flex;
    justify-content: center;
}

.login-form .avatar img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    background-color: transparent; /* Asegura que no haya fondo */
    border-radius: 0; /* Elimina el borde circular */
    object-fit: contain; /* Ajusta el contenido para que no se recorte */
}
.login-form h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #f1f1f1; /* Asegúrate de que el encabezado también tenga buen contraste */
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f1f1f1; /* Color más claro para las etiquetas */
}

.login-form input[type="text"], 
.login-form input[type="email"], 
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo más claro en los inputs */
    color: #000; /* Texto oscuro para los inputs */
    outline: none;
}

.login-form .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-form .options a {
    color: #f1f1f1; /* Cambiar el color de los enlaces para mejor contraste */
    text-decoration: none;
}

.login-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #45a049;
}
