.map-container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa toda la anchura de la ventana */
}

.project-info {
  width: 30%;
  background-color: rgba(47, 47, 47, 0.85); /* Gris oscuro con transparencia */
  padding: 20px;
  overflow-y: auto;
  z-index: 2;
  color: white; /* Letras blancas */
  border-radius: 8px; /* Bordes redondeados */
}

.project-info h2 {
  color: white;
  margin-bottom: 15px;
  text-align: left;
  font-size: 22px;
}

.project-info p {
  color: white;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.project-info strong {
  color: #e0e0e0; /* Hace el texto en negrita un poco más claro para diferenciarlo */
}

.project-info button {
  background-color: #4CAF50; /* Verde para el botón */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.project-info button:hover {
  background-color: darkgreen; /* Oscurece el botón al pasar el mouse */
}

.start-evaluation-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-evaluation-button:hover {
  background-color: #45a049;
}

#map {
  width: 70%;
  height: 100%;
  background-color: #171616; /* Fondo oscuro para el mapa */
  z-index: 1;
  position: relative;
}

#evaluation-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Asegura que ocupe todo el espacio disponible */
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Transparencia para ver un poco del mapa */
  z-index: 1000; /* Asegúrate de que esté por encima de todo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.evaluation-container {
  position: relative;
  width: 50%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
